<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Check your code with lintr.org</title>
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<div class="container">
	    	<div class="page-header">
			  <h1>Check your code NOW! <br />
			  	<small>Somebody forces an unreadable pull-request? Send him to us :)</small>
			  </h1>
			</div>
			
			<div class="jumbotron">
				<h1>Check your code right here!</h1>
				<div class="input-group">
				  <span class="input-group-addon">Repo URL here:</span>
				  <input type="text" class="form-control" placeholder="http://github.com/user/repo.git">
			  	  <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Start!</button>
			      </span>
				</div>
			</div>
		</div>
	</body>
</html>
